<launch>
	<!-- <!&#45;&#45; global rosparam &#45;&#45;> -->
	<!-- <param name="use_sim_time" value="true"/> -->
    <!--  -->
	<!-- <!&#45;&#45; rosbag &#45;&#45;> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/mocap/0119_infant/2019&#45;01&#45;19&#45;18&#45;26&#45;15.bag &#45;s 60"/> -->
	<!-- <!&#45;&#45; <node pkg="rosbag" type="play" name="player" args="&#38;#45;&#38;#45;clock /home/amsl/ozaki/bagfiles/mocap/0126_infant/no_lsd/2019&#38;#45;01&#38;#45;26&#38;#45;18&#38;#45;17&#38;#45;43.bag &#38;#45;s 60"/> &#45;&#45;> -->
    <!--  -->
	<!-- <!&#45;&#45; rviz &#45;&#45;> -->
	<!-- <!&#45;&#45; <node pkg="rviz" type="rviz" name="rviz_startpoint" args="&#38;#45;d /home/amsl/.rviz/trajectories_startpoint.rviz"/> &#45;&#45;> -->
	<!-- <!&#45;&#45; <node pkg="rviz" type="rviz" name="rviz_skyview" args="&#38;#45;d /home/amsl/.rviz/trajectories_skyview.rviz"/> &#45;&#45;> -->
	<!-- <!&#45;&#45; <node pkg="rviz" type="rviz" name="rviz_skyview" args="&#38;#45;d /home/amsl/.rviz/vicon.rviz"/> &#45;&#45;> -->
    <!--  -->
	<!-- <!&#45;&#45; sensor driver &#45;&#45;> -->
	<!-- <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/> -->
    <!--  -->
	<!-- <!&#45;&#45; proposed method &#45;&#45;> -->
	<!-- <node pkg="pose_estimation_walls" name="odom_republish_infant" type="odom_republish_infant"/> -->
	<!-- <node pkg="pose_estimation_walls" name="imu_initial_alignment" type="imu_initial_alignment" output="screen"/> -->
	<!-- <node pkg="gaussian_sphere_slam" name="ekf_gaussian_sphere_slam" type="ekf_gaussian_sphere_slam" output="screen"/> -->
	<node pkg="gaussian_sphere_slam" name="gaussian_sphere_slam" type="gaussian_sphere_slam" output="screen">
		<remap from="/odom" to="/tinypower/odom/republished"/>
	</node>
	<!-- <node pkg="pose_estimation_walls" name="combine_linearvelocity_and_pose" type="combine_linearvelocity_and_pose"> -->
	<!-- 	<remap from="/odom" to="/tinypower/odom/republished"/> -->
	<!-- </node> -->
    <!--  -->
	<!-- <!&#45;&#45; comparisons	 &#45;&#45;> -->
	<!-- <node pkg="pose_estimation_walls" name="gyrodometry" type="gyrodometry"> -->
	<!-- 	<remap from="/odom" to="/tinypower/odom/republished"/> -->
	<!-- </node> -->
	<!-- <include file="$(find loam_velodyne)/launch/hector_loam_velodyne.launch"/> -->
	<!-- <node pkg="pose_estimation_walls" name="odom_creater_for_loamvelodyne" type="odom_creater_for_loamvelodyne"/> -->
	<!-- <node pkg="pose_estimation_walls" name="odom_creater_for_lsdslam" type="odom_creator_for_lsdslam"> -->
	<!-- 	<remap from="/odom" to="/tinypower/odom/republished"/> -->
	<!-- </node> -->
	<!-- <node pkg="pose_estimation_walls" name="odom_creater_for_imu" type="odom_creator_for_imu"> -->
	<!-- 	<remap from="/odom" to="/tinypower/odom/republished"/> -->
	<!-- </node> -->

	<!-- graph -->
	<!-- <node pkg="pose_estimation_walls" name="graph_rpy" type="graph_rpy.py"/> -->
</launch>
