<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<node pkg="gaussian_sphere_slam" name="d_gaussian_sphere" type="d_gaussian_sphere" output="screen">
		<param name="skip" type="int" value="3"/>
		<!-- <param name="mode_remove_ground" type="bool" value="true"/> -->
		<param name="mode_open_viewer" type="bool" value="false"/>
		<param name="decimated_size" type="int" value="800"/>
	</node>
	<node pkg="gaussian_sphere_slam" name="wall_ekf_slam" type="wall_ekf_slam" output="screen"/>
</launch>
